In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#string
country = ['India','Pakistan','USA','Nepal','Srilanka']
pd.Series(country)

In [ ]:
#Integers
runs = [13,24,56,78,100]
runs_ser = pd.Series(runs)

In [ ]:
#Custom index
marks = [67,57,89,100]
subjects = ['Maths','English','Science','Hindi']
pd.Series(marks,index=subjects)

In [ ]:
#Setting a name
marks = pd.Series(marks,index=subjects,name='Nitish ke marks')
marks

In [ ]:
marks = {
    'maths':67,
    'English':57,
    'Science':89,
    'Hindi':100
}
marks_series = pd.Series(marks,name='nitish ke marks')
marks_series

In [ ]:
#Size
marks_series.size

In [ ]:
# Dtype
marks_series.dtype

In [ ]:
#Name
marks_series.name

In [ ]:
# Is_unique
marks_series.is_unique
pd.Series([1,1,2,3,4,5]).is_unique

In [ ]:
#Index
marks_series.index

In [ ]:
runs_ser.index

In [ ]:
#values
marks_series.values

In [ ]:
#with one col
subs = pd.read_csv('/content/subs.csv')
subs

In [ ]:
#With 2 cols
vk = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no')
vk

In [ ]:
movies = pd.read_csv('/content/bollywood.csv',index_col='movie',squeeze=True)
movies

In [ ]:
#head and tail

In [ ]:
#sample
movies.sample(5)

In [ ]:
#value_counts -> movies
movies.value_counts()

In [ ]:
#sort_values -> inplace
subs.sort_values(by='Subscribers gained',ascending=False).head(1).values[0]

In [ ]:
#sum -> subs
subs.sum()

In [ ]:
#mean -> median -> mode -> std -> var
subs.mean
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

In [ ]:
#slicing
vk[5:16]

In [ ]:
#negative slicing
vk[-5:]

In [ ]:
#Arithmetic operator
100 + marks_series

In [ ]:
# Relational Operator
vk >= 50

In [ ]:
subs.plot()

In [ ]:
vk.plot()

In [ ]:
movies.value_counts().head(20).plot(kind='pie')

In [ ]:
#astype
import sys
sys.getsizeof(vk)

In [ ]:
sys.getsizeof(vk.astype('int16'))

In [ ]:
#between
vk['runs'].between(51,99).size

In [ ]:
#clip
subs.clip(100,200)

In [ ]:
#Drop Duplicates
temp = pd.Series([1,1,2,2,3,3,4,4])
temp

In [ ]:
temp.duplicated().sum()